.navbar{   
    
    /* /* display: block;  */
     margin: 0;
    padding: 0; 
    background-color: rgb(122, 173, 156);
    background: transparent;
}
nav{
    position: fixed;
}
nav .logo{
    width: 10%;
    border-radius: 50%;
    margin-right: 10%;

}

.nav-item:active{
    background-color: red;
}

.nav-item {
    margin-left: 1%;
    letter-spacing: 1px;
    padding: 0 3%;
}

.d-block{
    max-width: 100%;
    height: 100%;
}

.form-inline{
    margin-left: 30%;
}
.jumbotron{
    padding-top: 10px;
    margin-top: 10px; /* Optional */
}

.leader{
    margin-top: 20px;
}
.container-navbar{
    width: 100%;
    
}
.card-footer{
    text-align: right;

}
.text-muted{
    font-size: 15px;
    font-style: italic;
}
.images{
    height: 100%;
    width: 100%;

}
.card-text{
    text-align: center;
    color: red;
    font-weight: bolder;
}
html{
    scroll-behavior: smooth;
    animation-duration: 30s;
    animation: cubic-bezier(1, 0, 0, 1);
    animation-fill-mode: forwards;
}
.container-fluid{
    /* background-color: black; */
    width: 100%;
}
fot-bar{
    margin-right: 30%;
    text-align: center;
    justify-content: center;
}
li {
    text-decoration: none;

}
