nav{   
    margin: 0;
    padding: 0;
    color: aliceblue;
}
nav .logo{
    width: 20%;
    border-radius: 50%;

}
.navbar-brand{
    display: block;
    margin-right: 10%;
}
.form-inline{
    margin-left: 30%;
}